@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.btn-default
		padding-left: 10px
		padding-right: 10px
	.header-nav__item
		padding: 0 5px
	.common-height.paddingleft
		padding-left: 40 + $padding-default

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.wrapper-header__button
		display: none

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
		position: relative
		min-height: 1px
		padding-left: 15px
		padding-right: 15px

	.container
		margin-right: auto
		margin-left: auto
		padding-left: 15px
		padding-right: 15px

	.row
		margin-left: -15px
		margin-right: -15px
	
	.header-nav__list
		margin-top: 0
		text-align: right

	.header-nav__item
		padding: 0

	.header-nav__link
		font-size: .9em
		padding: 0 5px

	.navigation-footet__item
		padding: 0 5px

	.footer-header__item
		margin-bottom: 12px

	.footer-header__link
		line-height: 18px

	.common-height.paddingleft
		padding-left: $padding-default - 5

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.burger-nav__list
		position: absolute
		right: 0
		top: 30px
		display: flex
		float: right
		margin-right: 20px
	.mobile-menu
		position: absolute
		top: 0
		left: 0
		width: 100%
		padding: 0 !important
	.top-line__wrapper
		padding-top: 15px
		padding-bottom: 15px
	.top-line__wrapper--bg
		background: $color-blue
	.header-nav__list
		display: none
		margin-top: 80px
		padding-top: 44px
		text-align: center
		background: $color-blue
	.header-nav__item
		display: block
		text-align: center
		margin-bottom: 22px
	.header-nav__link
		font-size: 1.125em
		width: 100%
	.header-nav__button
		display: inline-block
		margin-top: 24px
		margin-bottom: 42px
	.btn-default
		padding-left: 23px
		padding-right: 23px

@media only screen and (max-width : 767px)
	.common-height:nth-child(3n+1)
		clear: left

	.common-height:after
		display: block
		visibility: hidden
		font-size: 0
		height: 0
		clear: both
		content: "."

	.footer-social__list
		margin-top: 114px

	.common-height
		margin-bottom: 20px

	.navigation-footet__bottom
		text-align: center
		margin-bottom: 20px

	.avenir-copyright
		text-align: center

	.navigation-footet__item
		padding: 0 15px

@media only screen and (max-width : 640px)
	.footer-header
		padding-top: 70px
		padding-bottom: 25px

@media only screen and (max-width : 600px)
	/**/

@media only screen and (max-width : 540px)
	/**/

@media only screen and (max-width : 539px)
	.common-height
		width: 50%
	.common-height:nth-child(3n+1)
		clear: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

@media only screen and (max-width : 414px)
	/**/

@media only screen and (max-width : 375px)
	.navigation-footet__item
		padding: 0 5px

@media only screen and (max-width : 360px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 769px)
	.header-nav__button
		display: none


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

