@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1290px)
	.uses-bots__container
		background-position: -1% bottom

@media only screen and (max-width : 1280px)
	.uses-bots__container
		background-position: -2% bottom

@media only screen and (max-width : 1265px)
	.uses-bots__container
		background-position: -3% bottom

@media only screen and (max-width : 1250px)
	.uses-bots__container
		background-position: -4% bottom

@media only screen and (max-width : 1230px)
	.uses-bots__container
		background-position: -6% bottom

@media only screen and (max-width : 1215px)
	.uses-bots__container
		background-position: -8% bottom

@media only screen and (max-width : 1200px)
	.uses-bots__container
		background-position: -9% bottom

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.event-item
		width: 286px
		overflow: hidden
		.event-item__img
		width: 286px
		overflow: hidden
		img
			width: 360px !important
			margin-left: -10%
			max-width: initial
	.resources-item__img
		height: 205px
		img
			max-width: 100%
	.our-team__item-name
		padding: 23px 20px 0
	.our-team__item-crop
		width: 286px
		height: 400px
		overflow: hidden
		img
			width: 360px !important
			height: 400px !important
			margin-left: -10%
			max-width: initial
	.header-nav__link
		font-size: .85em
	.bot-automation__offset
		margin-top: 40px
	.wrapper-bot
		width: 526px
	.button__top-line
		padding-left: 10px
		padding-right: 10px
	.header-nav__item
		padding: 0 5px
	.common-height.paddingleft
		padding-left: 20 + $padding-default
	.uses-bots__container
		background-image: url(../img/uses-bots__bg-small.png)
		background-position: 130px 104px
	.list-items__items,
	.stage-development__desc
		white-space: initial
	.uses-bots__wrapper
		padding-left: 70px
		padding-right: 10px
		padding-bottom: 70px
	.we-do__images
		max-width: 100%
	.we-do__item
		min-height: 100%
	.we-do__item-child
		min-height: 334px
	.we-do__circle-buttom
		bottom: 30px

@media only screen and (max-width : 1165px)
	.uses-bots__container
		background-position: 114px 104px

@media only screen and (max-width : 1140px)
	.uses-bots__container
		background-position: 100px 104px

@media only screen and (max-width : 1100px)
	.uses-bots__container
		background-position: 80px 104px

@media only screen and (max-width : 1080px)
	.uses-bots__container
		background-position: 70px 104px

@media only screen and (max-width : 1060px)
	.uses-bots__container
		background-position: 60px 104px

@media only screen and (max-width : 1040px)
	.uses-bots__container
		background-position: 50px 104px

@media only screen and (max-width : 1024px)
	.uses-bots__container
		background-position: 40px 104px

@media only screen and (max-width : 1004px)
	.uses-bots__container
		background-position: 30px 104px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.skills-heading
		line-height: 26px
	.skills-item
		padding: 20px
		max-width: 360px
		margin: 0 auto 40px
	.skills-transformation .col-md-6 .skills-item
		min-height: 190px
	.blog-wrapper__top--line
		padding-top: 40px
		margin-bottom: 10px
	.blog-categiries
		margin-bottom: 20px
	.events-wrapper
		.events-h2__heading
			text-align: center
	.event-item
		width: 100%
	.event-item img
		margin-left: 0
	.resources-wrapper
		.events-h2__heading
			text-align: center
	.resources-item,
	.resources-item__default
		max-width: 260px
		margin: 0 auto 30px
	.resources-item__img
		height: auto
	.our-team__item-crop
		width: 100%
		img
			margin-left: 0
	.bot-automation__heading
		//white-space: normal\
	.bot-automation__img
		float: none
		margin: 0 auto
	.heading-p__default
		white-space: initial
	.we-do__item-child
		min-height: 260px
	.stage-development__item
		padding: 30px 15px 30px
		min-height: 320px
	.uses-bots .heading-h3__default
		margin-bottom: 40px
	.uses-bots__wrapper
		padding-left: 0px
		padding-right: 0px
		padding-bottom: 70px
	.dot-green
		left: 64px
	.dot-blue
		right: 18px
	.dot-yelow
		left: 54px
	.wrapper-bot
		width: 390px
	.uses-bots__container
		background-image: none
	.wrapper-bot
		background-image: url(../img/uses-bots__mobile.png)
		background-position: center
		background-repeat: no-repeat
	.wrapper-header__button
		display: none

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
		position: relative
		min-height: 1px
		padding-left: 15px
		padding-right: 15px

	.container
		margin-right: auto
		margin-left: auto
		padding-left: 15px
		padding-right: 15px

	.row
		margin-left: -15px
		margin-right: -15px
	
	.header-nav__list
		margin-top: 0
		text-align: right

	.header-nav__item
		padding: 0

	.header-nav__link
		font-size: .8em
		padding: 0 5px

	.navigation-footet__item
		padding: 0 5px

	.footer-header__item
		margin-bottom: 12px

	.footer-header__link
		line-height: 18px

	.common-height.paddingleft
		padding-left: $padding-default - 5

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	span.open-sub
		position: absolute
		left: 0
		top: 0
		display: block
		width: 100%
		height: 50px
		z-index: 100
	.header-nav__list
		padding-top: 34px
		text-align: center
		background: $color-blue
	.header-nav__item
		display: block
		text-align: center
		padding-top: 11px
		padding-bottom: 11px
	.header-nav__link
		font-size: 18px
		width: 100%
	.menu-item-has-children
		position: relative
		&.open
			background: #292c47
			& .header-nav__link
				opacity: 1
		ul>li
			padding: 0
		ul>li>a
			font-size: 15px
			line-height: 26px
			text-transform: none
			color: #6e7499
			display: block
			padding: 8px 0 16px
	.menu-item-has-children ul
		display: none
	.sub-menu
		visibility: visible
		opacity: 1
		position: relative
		padding-top: 5px
		overflow: hidden
		transform: translateY(0px)
		transition: all .3s cubic-bezier(.645,.045,.355,1)
	.offsetBottom
		padding-bottom: 20px
	.header-nav__button
		//display: none
		max-height: 50px
		padding: 16px 23px 15px
		line-height: normal
		margin-bottom: 20px
	.header-nav
		display: none
		background: #14152e
		text-align: center
		margin-top: 79px
		border-top: 1px solid #292c47
	.mfp-close-btn-in .mfp-close
		right: 15px
		top: 15px
	.header-inside__style
		min-height: 400px !important
	.heading-header__inside
		margin-top: 80px
	.bot-automation__heading
		text-align: center
	.top-line__wrapper--bg
		background: $color-blue
		border-bottom: 1px solid $color-blue-light-dark2
		transition: all 0.25s
	.top-line__wrapper.active
		padding-top: 15px
		padding-bottom: 15px
	.wrapper__carousel-top .owl-prev
		left: 30px
	.wrapper__carousel-top .owl-next
		right: 30px
	.burger-nav__list
		position: absolute
		right: 0
		top: 30px
		display: flex
		float: right
		margin-right: 20px
	.mobile-menu
		position: absolute
		top: 0
		left: 0
		width: 100%
		padding: 0 !important
	.top-line__wrapper
		padding-top: 15px
		padding-bottom: 15px
	.top-line__wrapper--bg
		background: $color-blue
	.header-nav__button
		//margin-top: 24px
		//margin-bottom: 42px
	.button__top-line
		padding-left: 23px
		padding-right: 23px

@media only screen and (max-width : 767px)
	.skills-item .pluss-figure
		right: 20px
		top: 20px
	.cases-content__wrapper
		margin-bottom: 40px
	.video-wrapper
		margin-top: 0
	.services-bot__heading
		text-align: center
	.services-bot__iphone
		max-width: 300px
	.services-bot
		padding-bottom: 35px
		.padd-top___120
			padding-top: 20px
	.we-do__circle-buttom
		bottom: 40px
	.we-do__item-child
		min-height: 374px
	.we-do
		.padd-bottom___100
			padding-bottom: 50px
		.padd-top___80
			padding-top: 20px
	.we-do__item
		min-height: 100%
		max-width: 320px
		margin: 0 auto 24px
	.uses-bots__wrapper
		padding-left: 50px
	.wrapper-bot
		margin: 0 auto 30px
	.common-height:nth-child(3n+1)
		clear: left

	.common-height:after
		display: block
		visibility: hidden
		font-size: 0
		height: 0
		clear: both
		content: "."

	.footer-social__list
		margin-top: 114px

	.common-height
		margin-bottom: 20px

	.navigation-footet__bottom
		text-align: center
		margin-bottom: 20px

	.avenir-copyright
		text-align: center

	.navigation-footet__item
		padding: 0 15px

@media only screen and (max-width : 720px)
	.lab-facilities__wrapper
		background-size: contain

@media only screen and (max-width : 640px)
	.our-team__item-name
		padding: 23px 20px 0
	.our-team__item-crop
		width: 286px
		height: 400px
		overflow: hidden
		img
			width: 360px !important
			height: 400px !important
			margin-left: -10%
			max-width: initial
	.contact-form__wrapper
		padding: 30px 20px 30px
	.we-do__item-child
		min-height: 300px
	.stage-development__item
		width: 50%
		margin-bottom: 20px
	.stage-development__wrapper
		box-shadow: none
	.footer-header
		padding-top: 70px
		padding-bottom: 25px

@media only screen and (max-width : 600px)
	.event-item
		max-width: 360px
		margin: 0 auto 35px
	.events-wrapper__container
		.col-xs-6
			width: 100%
	.our-team__spiker
		.col-md-4
			width: 100%
	.our-team__item-crop
		width: 100%
		img
			margin-left: 0
	.our-team__item
		margin: 0 auto 25px
	.contact-form__wrapper
		.col_4
			width: 100%
	.lab-facilities__wrapper
		background: none
	.carousel-top__item
		max-width: 480px

@media only screen and (max-width : 540px)
	.footer-post
		padding: 20px
	.post-quotes .quotes-icon
		left: 16px
	.post-quotes
		padding: 36px 40px 42px 50px
	.post-content
		padding-left: 20px
		padding-right: 20px
	.blog-wrapper__content
		.col-xs-6
			width: 100%
	.blog-item__main
		max-width: 360px
		margin: 0 auto 35px
	.cases-content
		padding-top: 40px
	.contact-info
		margin-bottom: 30px
	.email-link
		display: block
	.lab-facilities__wrapper
		padding-top: 60px
	.navigation-footet__item
		padding: 0 5px
	.header
		min-height: 680px
	.wrapper__carousel-top
		padding-top: 125px
	.carousel-top__heading
		font-size: 48px
		line-height: 50px
	.wrapper__carousel-top .owl-prev,
	.wrapper__carousel-top .owl-next
		display: none
	.mobile-540__mobile
		width: 100%
	.uses-bots__wrapper
		padding-left: 20px
		padding-right: 20px
	.list-items__items::before
		left: -15px
	.heading-h3__default
		br
			display: none

@media only screen and (max-width : 539px)
	.common-height
		width: 50%
	.common-height:nth-child(3n+1)
		clear: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.popup-skills
		padding: 35px 30px 35px
	.share-post__item
		float: none
		margin: 10px 2px 0
		display: inline-block
	.share-post
		text-align: center
	.share-post__list
		margin: 0
		display: block
		float: none
	.footer-container
		.col_6
			width: 100%
			text-align: center
	.resources-wrapper
		.col-xs-6
			width: 100%
	.contact-form__wrapper
		.col_6
			width: 100%
		.default-textarea
			margin-top: 20px
	.item-default__gorizontal
		display: block
		padding: 0
		&::before
			display: none
	.carousel-top__item
		padding: 0 15px
	.heading-h3__default
		font-size: 32px
		line-height: 36px

@media only screen and (max-width : 414px)
	.stage-development__item
		width: 100%
		min-height: 280px
		padding: 40px 25px 30px

@media only screen and (max-width : 375px)
	.mobile-bot__video
		overflow: hidden
		max-width: 314px
		margin: 0 auto
		float: none
	.services-bot__video
		margin-left: -36px
	.popup-skills
		padding: 25px 20px 25px
	.header-post__heading
		white-space: initial
	.dot-blue
		right: 10px
	.dot-green
		left: 58px
	.dot-yelow
		left: 46px
	.no-padding__375
		padding: 0 !important
	.wrapper-bot
		width: 100%
	.navigation-footet__item
		padding: 0 5px

@media only screen and (max-width : 360px)
	.our-team__item
		max-width: 286px
	.our-team__item-name
		padding: 23px 20px 0
	.our-team__item-crop
		width: 286px
		height: 400px
		overflow: hidden
		img
			width: 360px !important
			height: 400px !important
			margin-left: -10%
			max-width: initial
	.heading-h3__default
		font-size: 28px
		line-height: 32px
	.dot-blue
		right: 4px
	.dot-green
		left: 48px
	.dot-yelow
		left: 36px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.event-item
		width: 286px
		overflow: hidden
		.event-item__img
		width: 286px
		overflow: hidden
		img
			width: 360px !important
			margin-left: -10%
			max-width: initial
	.footer-social__list
		margin-top: 40px
	.text-center__320
		text-align: center
	.wrapper-bot
		background-size: 110%
	.common-height
		width: 100%
	.navigation-footet__item
		padding: 0


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 769px)
	.header-nav__button
		display: none

@media only screen and (min-width : 769px)
	.header-nav
		display: block !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

//@media (man-height: 640px) and (max-width: 991px)
@media only screen and (max-height : 640px)
	.header-nav__list
		padding-top: 20px

@media only screen and (max-height : 600px)
	.header-nav__item
		margin-bottom: 15px

@media only screen and (max-height : 560px)
	.header-nav__item
		margin-bottom: 10px
	.header-nav__button
		margin-top: 10px
		margin-bottom: 35px

@media only screen and (max-height : 520px)
	.header-nav__item
		margin-bottom: 5px
	.header-nav__button
		margin-top: 5px
		margin-bottom: 20px

@media only screen and (max-height : 480px)
	.header-nav__item
		margin-bottom: 0px
	.header-nav__button
		margin-top: 5px
		margin-bottom: 20px
