$default-font: 'Rajdhani', sans-serif;

$color-white: #ffffff
$white-opacity: #b3adaf

$color-gray: #a7a5a7
$blue-gray: #565661
$color-gray-light: #f5f6f9
$bacground-gray: #f5f7f9

$color-pink: #f71b69
$color-pink-dark: #ec006a
$pink-bot: #f8266b

$color-blue-light: #535879
$color-blue: #14152e
$color-blue-light-dark: #2a2c48
$color-blue-light-dark2: #292c47

$color-green: #1fd17b
$color-yelow: #ffa700
$color-blue-dot: #0fa4e7

$color-blue-dark: #0d0e23

$color-link-footer: #6e7499

$padding-default: 20px

$social-hover: #b9b9c0