@import "fonts"
@import "libs"
@import "vars"
@import url('https://fonts.googleapis.com/css?family=Rajdhani:500,600')
*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
*
	margin: 0
	padding: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html
	height: 100%

body
	font-size: 16px
	font-family: $default-font
	font-weight: 500
	min-height: 100%
	min-width: 320px
	position: relative
	line-height: 1.75
	overflow-x: hidden
	opacity: 1

/* Typografy */

a,
button
	outline: none !important

a
	color: $color-white
	text-decoration: none

ul
	list-style: none

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	padding: 0
	font-weight: normal

h1
	font-size: 20px

h2
	font-size: 18px

h3
	font-size: 16px

h4
	font-size: 14px

h5
	font-size: 13px

h6
	font-size: 12px

h1.big
	font-size: 40px

.alignleft
	float: left
	margin: 10px 10px 10px 0

.alignright
	float: right
	margin: 10px 0 10px 10px

.aligncenter
	display: block
	margin-left: auto
	margin-right: auto
	margin-top: 10px
	margin-bottom: 10px

.paddingleft
	padding-left: $padding-default

input,
textarea
	outline: none

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.img-responsive
	display: block
	max-width: 100%
	height: auto

/* Button */

.button
	font-family: $default-font
	color: $color-white
	display: inline-block
	border-radius: 5px
	border: none
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	touch-action: manipulation
	position: relative
	font-weight: 500
	font-size: 15px
	vertical-align: middle
	text-align: center
	white-space: normal
	word-wrap: normal
	line-height: 50px
	transition: all .25s linear

.btn-default
	background: $color-pink
	padding-left: 23px
	padding-right: 23px
	&:hover
		background: $color-pink-dark

/* Open menu */

.burger-nav__list
	width: 24px
	height: 18px
	display: none //flex
	flex-direction: column
	align-items: center
	justify-content: center
	cursor: pointer

.stick
	width: 26px
	height: 2px
	margin-bottom: 6px
	background-color: $color-white
	display: inline-block
	&:last-child
		margin-bottom: 0px

.stick-1.open
	animation: stick-1-open .6s ease-out forwards

.stick-2.open
	animation: stick-2-open .6s linear forwards

.stick-3.open
	animation: stick-3-open .6s linear forwards

@keyframes stick-1-open
	0%
		width: 26px

	40%
		background-color: $color-white
		width: 2px
		transform: translate(20px, 0px)

	75%, 80%
		width: 2px
		background-color: $color-white
		transform: translate(20px, -20px)
		animation-timing-function: cubic-bezier(0, 1, 1, 1)

	100%
		background-color: transparent
		width: 2px
		transform: translate(20px, 24px)


@keyframes stick-2-open
	80%
		background-color: $color-white
		transform: translate(0px, 0px) rotate(0deg)

	100%
		background-color: $color-white
		transform: translate(2px, 0px) rotate(40deg)


@keyframes stick-3-open
	80%
		background-color: $color-white
		transform: translate(0px, 0px) rotate(0deg)

	100%
		background-color: $color-white
		transform: translate(2px, -8px) rotate(-40deg)


.stick-1.close
	width: 2px
	transform: translate(20px, 26px)
	animation: stick-1-close .6s ease-out forwards

.stick-2.close
	transform: translate(0px, 0px) rotate(40deg)
	animation: stick-2-close .6s ease-out forwards

.stick-3.close
	transform: translate(0px, -23px) rotate(-40deg)
	animation: stick-3-close .6s ease-out forwards

@keyframes stick-1-close
	0%, 70%
		width: 0px

	100%
		width: 26px
		transform: translate(0, 0)


@keyframes stick-2-close
	0%
		background-color: $color-white
		width: 26px

	20%
		background-color: $color-white
		width: 2px
		transform: translate(0, 0px) rotate(40deg)

	40%
		background-color: $color-white
		width: 0px

	65%
		transform: translate(0, -70px)
		animation-timing-function: cubic-bezier(0, 1, 1, 1)

	80%
		width: 0px

	100%
		width: 26px
		transform: translate(0, 0px)


@keyframes stick-3-close
	0%
		background-color: $color-white
		width: 26px

	20%
		background-color: $color-white
		width: 2px
		transform: translate(0, -23px) rotate(-40deg)

	40%
		background-color: $color-white

	65%
		transform: translate(0, -93px)
		animation-timing-function: cubic-bezier(0, 1, 1, 1)

	90%
		width: 2px

	100%
		width: 26px
		transform: translate(0, 0px)

.top-line__wrapper--bgt
	background-color: transparent
	transition: all 0.25s

.top-line__wrapper--bg
	background: $color-blue
	border-bottom: 1px solid $color-blue-light-dark2
	transition: all 0.25s

/* Open menu End */

/* Header */

.header
	background: #0d0e23 url(../img/bg-header--main.jpg)
	background-repeat: no-repeat
	background-position: center 0
	background-size: cover
	min-height: 760px

.top-line__wrapper
	position: relative
	padding-top: 40px

.header-logo
	display: inline-block

.header-nav__list
	text-align: center
	margin-top: 6px

.header-nav__item
	display: inline-block
	padding: 0 10px
	&:first-child
		padding-left: 0
		a
			padding-left: 0
	&:last-child
		padding-right: 0
		a
			padding-right: 0

.header-nav__link
	font: inherit
	font-size: 0.95em //15.3px
	display: inline-block
	line-height: 40px
	text-transform: uppercase
	padding: 0 7px
	opacity: .6
	transition: all .25s linear
	&:hover
		opacity: 1














/* Footer */

.footer
	background: $color-blue
	position: absolute
	left: 0
	bottom: 0
	width: 100%

.footer-header
	border-bottom: 1px solid $color-blue-light-dark
	padding-top: 104px
	padding-bottom: 75px

.footer-header__heading
	font: inherit
	font-size: 15px
	color: $color-white
	margin-bottom: 26px

.footer-header__item
	margin-bottom: 17px
	&:last-child
		margin-bottom:

.footer-header__link
	color: $color-link-footer
	display: block
	line-height: 24px

/* Social */

.socials-footer
	text-align: right
.footer-social__list
	margin-top: 145px
.footer-social__item
	display: inline-block
	margin: 0 5px
	&:first-child
		margin-left: 0
	&:last-child
		margin-right: 0
.footer-social__link
	width: 40px
	height: 40px
	display: inline-block
	text-align: center
	vertical-align: middle
	background: $color-blue-light
	font-size: 20px
	color: $color-blue
	border-radius: 50%
	i
		line-height: 42px

.footer-bottom
	padding-top: 42px
	padding-bottom: 42px

.avenir-copyright
	color: $color-link-footer

.navigation-footet__item
	display: inline-block
	padding: 0 18px
	&:first-child
		padding-left: 0
		.navigation-footet__link
			padding-left: 0
	&:last-child
		padding-right: 0
		.navigation-footet__link
			padding-right: 0

.navigation-footet__link
	color: $color-link-footer
	padding: 0 4px
	line-height: 20px

// Common Height

.common-height.paddingleft
	padding-left: 60 + $padding-default

.common-height:nth-child(5n+1)
	clear: left

.common-height:after
	display: block
	visibility: hidden
	font-size: 0
	height: 0
	clear: both
	content: "."

/* Footer End */








@import "media" // Всегда в конце
